<style>
            
            .sidenav { 
                background-color: #111; /* Black*/
                border-radius: 5px;
            }

            /* The navigation menu links */
            .sidenav a {
/*                 padding: 8px 8px 8px 32px;  */
                text-decoration: none;
                 font-size: 16px; 
                color: white;
                 display: block;     
                 padding-bottom: 8px;
            }

            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover, .offcanvas a:focus{
                color: #e6e6e6;
                font-weight: bold;

                color: #818181;
                 display: block;  
                transition: 0.3s;
                 font-weight: bold;
                 padding-bottom: 8px;
            }

            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover, .offcanvas a:focus{
                color: #f1f1f1;

            }
       
        </style>
        
<div class="col-sm-2 sidenav" id="mySidenav">
			

            <a href="/home/">
            <i class="fa fa-key" style="color: #ff33cc;" aria-hidden="true"></i> Manage Keywords
            </a>
            
            <a href="/site/">
            <i class="fa fa-sitemap" style="color: #00cc00;" aria-hidden="true"></i> Manage Sites
            </a>
            
            <a href="/subscription/">
            <i class="fa fa-users" style="color: #ff7800;" aria-hidden="true"></i> Manage Subscibers
            </a>
     
        
		</div>