<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% block title %} KenGap {% endblock %}</title> {% block head %}
<link rel="stylesheet"
	href="{{ url_for('static',filename='vendor/css/bootstrap.min.css') }}">
<link rel="stylesheet"
	href="{{ url_for('static',filename='vendor/css/style.css') }}">
<link rel="stylesheet"
	href="{{ url_for('static',filename='vendor/css/font-awesome.css') }}">
<link rel="stylesheet"
	href="{{ url_for('static',filename='css/smt-bootstrap.css') }}">

{% endblock %}

</style>

</head>
<body>

	{% block content %} {% endblock %} {% block footerJs %} {% endblock %}


	{%block jsIncludes %}
	<script src="{{ url_for('static',filename='vendor/js/jquery.min.js') }}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="{{ url_for('static',filename='vendor/js/particles.min.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/js/stats.min.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/js/index.js') }}"></script>
	{% endblock %}
</body>
</html>