{% extends "base.html" %} 

{% block title %} 

JSAKA::Spider settings

{%endblock %} 

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 

<style>
td, th, .modal {
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

ul li{
	display: inline-block;
	width: 50%;
}

.setting-panel {
	display: inline-block;
	border: 1px solid #3399ff;
	border-top: 2px solid #fff;
	text-align: center; 
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.setting-label {	
	display: inline-block;

}

.spinner-input {
	 width: 50% !important;
}



.setting-btn {
	margin-right: 5px;
}

.setting-label label {
	font-weight: normal;
}

ul.listing{
	background-color: #f2f2f2;
	margin-bottom: 10px;
}

.listing-header {
	border-bottom: 2px solid #ff9900;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Slabo', serif;
	font-weight: bold; 
	font-size: 15px%;
}

.slabo {
	font-family: 'Slabo', serif;
}

</style>


{% include "include/jumbotron.html" %}


<div class="container-fluid">




	<div class="row">
	
		<div class="alert  alert-dismissible fade in col-sm-12 text-center" style="display:none;" id="alerter" >
			<strong>
				<p class="messageFeedback"></p>
			</strong>
		</div>
		
		
		
		{% include "include/navigation.html" %}

		<div class="col-sm-10">


			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading" style="text-align: center; ">
					 Crawler Settings
				</div>
				<div style="padding-left: 5px;">
				
				<div class="text-center load-settings-spinner">
					<p>
						<span>Loading settings </span>
						<i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
					</p>
				</div>
				
				<ul class="nav nav-tabs">				
				  <li ><a data-toggle="tab" href="#global">Global</a></li>
				  <li class="active"><a data-toggle="tab" href="#per-keyword">Keyword</a></li>
				</ul>
				
				<div class="tab-content">
				 
				  <div id="global" class="tab-pane fade">
		
				    
				    
				  </div>
				  
				  <div id="per-keyword" class="tab-pane fade in active">
			
				    <br/>
					
				<div class="row">
					<div class="col-sm-6">
						<form class="form-horizontal" action="#">
								<div class="form-group">
									<label class="col-sm-2 control-label slabo" for="subscriber-sel">Subscriber</label>
									<div class="col-sm-10">
										<select  id="subscriber-sel" class="form-control">
										  
										</select>
									</div>
								</div>
							</form>
					</div>
				
					<div class="col-sm-6">
								<form class="form-horizontal" action="#">
								<div class="form-group">
									<label class="col-sm-2 control-label slabo" for="site-sel">Site</label>
									<div class="col-sm-10">
										<select id="site-sel" class="col-sm-10 form-control">
										  
										</select>
									</div>
							</div>
						</form>
					</div>
				</div>
					<div class="text-center keywords-list-sec">
						<ul style="margin-bottom: 15px;">
						<li><div class="listing-header">Keyword</div></li><li>
							<div class="listing-header">Control</div></li>
						</ul>
						
						<!-- Keyword listing goes here-->
								
					</div>	    
				  </div>
				  
				</div>
	
				</div>
		
			</div>
			
		</div>
	</div>

</div>

{% endblock %}

{% block jsIncludes %}
{{ super() }}
<script type="text/javascript"	src="{{ url_for('static',filename='vendor/js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='vendor/js/settings.js') }}"></script>

{% endblock %}
