{% extends "base.html" %} 

{% block title %} 

JSAKA::Spider settings

{%endblock %} 

{% block content %}

<style>
td, th, .modal {
	text-align: center;
}
</style>

{% include "include/jumbotron.html" %}


<div class="container-fluid">




	<div class="row">
	
		<div class="alert  alert-dismissible fade in col-sm-12 text-center" id="alerter" style="display: none">
			<strong>
				<p class="messageFeedback"></p>
			</strong>
		</div>
		
		{% include "include/navigation.html" %}

		<div class="col-sm-10">


			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading" style="text-align: center; ">
					Configure Crawler behaviour
				</div>
				<div style="padding-left: 5px;">
				
				<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" href="#home">Global</a></li>
				  <li><a data-toggle="tab" href="#menu1">Keyword</a></li>
				  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
				</ul>
				
				<div class="tab-content">
				  <div id="home" class="tab-pane fade in active">
				    <h3>Global setting</h3>
				    <p>Some content.</p>
				  </div>
				  <div id="menu1" class="tab-pane fade">
				    <h3>Per Keyword setting</h3>
				    <p>Some content in menu 1.</p>
				  </div>
				  <div id="menu2" class="tab-pane fade">
				    <h3>Menu 2</h3>
				    <p>Some content in menu 2.</p>
				  </div>
				</div>
	
				</div>
		
			</div>
			
		</div>
	</div>

	<!-- Edit keyword modal -->
	<div class="modal fade edit-modal" id="edit-modal" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-body text-center">
					<div>
						<input class="edit-keyword" type="text" />
					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary edit-keyword">Save
						changes</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Delete keyword modal -->
	<div class="modal fade delete-modal" id="delete-modal" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div>
						Delete <label class="delete-keyword"></label>?
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary delete-keyword">Delete
						Keyword</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Add keyword modal -->
	<div class="modal fade newkeyword-modal" id="new-keyword-modal" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div>
						<input id="new-keyword" type="text" />
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary save-keyword">Save
						Keyword</button>
				</div>

			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block jsIncludes %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='vendor/js/sitescript.js') }}"></script>

{% endblock %}
