{% extends "base.html" %} 

{% block title %} 

JSAKA::Spider settings

{%endblock %} 

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 

<style>
td, th, .modal {
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

ul li{
	display: inline-block;
	width: 50%;
}

ul.listing{
	background-color: #f2f2f2;
	margin-bottom: 10px;
}

.listing-header {
	border-bottom: 2px solid #ff9900;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Slabo', serif;
	font-weight: bold; 
	font-size: 15px%;
}


</style>


{% include "include/jumbotron.html" %}


<div class="container-fluid">




	<div class="row">
	
		<div class="alert  alert-dismissible fade in col-sm-12 text-center" id="alerter" style="display: none">
			<strong>
				<p class="messageFeedback"></p>
			</strong>
		</div>
		
		{% include "include/navigation.html" %}

		<div class="col-sm-10">


			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading" style="text-align: center; ">
					Configure Crawler behaviour
				</div>
				<div style="padding-left: 5px;">
				
				<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" href="#global">Global</a></li>
				  <li><a data-toggle="tab" href="#per-keyword">Keyword</a></li>
				</ul>
				
				<div class="tab-content">
				 
				  <div id="global" class="tab-pane fade in active">
				    <h4>Global setting</h4>
				    
				    
				  </div>
				  
				  <div id="per-keyword" class="tab-pane fade">
				    <h4>Per Keyword setting</h4>
				    <br/>
					
					<div class="text-center keywords-list-sec">
						<ul style="margin-bottom: 15px;">
						
						<li><div class="listing-header">Keyword</div></li><li>
							<div class="listing-header">Control</div></li>
						</ul>
						
						
								
					</div>	    
				  </div>
				  
				</div>
	
				</div>
		
			</div>
			
		</div>
	</div>

</div>

{% endblock %}

{% block jsIncludes %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='vendor/js/settings.js') }}"></script>

{% endblock %}
