{% extends "base.html" %} 

{% block title %} 
JSAKA::Sites
{%endblock %} 


{% block content %}

<style>
td, th {
	text-align: center;
}

</style>

{% include "include/jumbotron.html" %}


<div class="container-fluid">




	<div class="row">
	
		<div class="alert  alert-dismissible fade in col-sm-12 text-center" id="alerter" style="display: none">
			<strong>
				<p class="messageFeedback"></p>
			</strong>
		</div>
		
		{% include "include/navigation.html" %}

		<div class="col-sm-10">


			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading" style="text-align: center;">This
					List shows all Sites where Jobs Are Scrapped from</div>
				<!-- Table -->
				<div class="table-responsive">
					<table id="contentItems" class="table table-striped">
						<thead>
							<tr>
								<th>Site Id</th>
								<th>Site Name</th>
								<th>Control</th>
							</tr>
						</thead>
						<tbody>
							{% for key,val in name_list.items() %}
							<tr>
								<td>{{ key }}</td>
								<td id="{{key}}-name">{{ val }}</td>
								<td>
									<button type="button" id="{{key}}" class="btn btn-info name"
										data-toggle="modal" data-target=".edit-modal">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</button>
<!-- 									<button type="button" id="{{key}}" -->
<!-- 										class="btn btn-primary name" data-toggle="modal" -->
<!-- 										data-target=".delete-modal"> -->
<!-- 										<i class="fa fa-trash" aria-hidden="true"></i> -->
<!-- 									</button> -->
								</td>
							<tr>{% endfor %}
						</tbody>

					</table>
				</div>

			</div>
		</div>
	</div>

	<!-- Edit site name modal -->
	<div class="modal fade edit-modal" id="edit-modal" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-body text-center">
					<div>
						<input class="edit-name" type="text" />
					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary edit-name">Save
						changes</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Delete name modal -->
	<div class="modal fade delete-modal" id="delete-modal" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div>
						Delete <label class="delete-name"></label>?
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary delete-name">Delete
						name</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Add name modal -->
	<div class="modal fade newname-modal" id="new-name-modal" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div>
						<input id="new-name" type="text" />
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary save-name">Save
						name</button>
				</div>

			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block jsIncludes %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='vendor/js/sitescript.js') }}"></script>

{% endblock %}
